@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    <!--@Model.Exception.Message;
    @Model.Exception.Data;-->
    Sorry, an error occurred while processing your request.
</h2>
