body {
	margin: 0;
	padding: 0;
	background: #fff url("media/graphics/body_bg.jpg") repeat-x;
}
#content {
	width: 766px;
	height: auto;
	min-height: 460px;
	margin: 0 auto;
	background: #fff;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}


#toolbar {
	width: 100%;
	background:transparent url(media/graphics/toolbar_bg.jpg) repeat-x left top;
	height: 20px;
	font-family: arial;
	text-align: right;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px solid #888;
}

#toolbar a {
	margin-right: 15px;
	font-weight: bold;
}

#toolbar a:link, #toolbar a:visited {
	color: #888;
}

#toolbar a:hover {
	color: #000;
}

#header {
	width: 100%;
	height: 70px;
	background: #2581d0 url("media/graphics/logo.jpg") no-repeat;
	padding-top: 5px;
}

#logout {
	margin-left: 94%;
}

#logout img {
	width: 35px;
}

#header h1 {
	font-size: 50px;
	padding: 0;
	margin: 0 0 0 10px;
	line-height: 75px;
}

#main_nav {
	height: 43px;
	width: 100%;
	background:transparent url(media/graphics/pro16_back.gif) repeat-x left top;
}

/*#main_nav ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: 0;
	
}

#main_nav ul li {
	float: left;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	display: block;
	margin-left: 5px;
	background: yellow;
}
*/
#main_nav fieldset {
	border: none;
	float: right;
}

/*#main_nav fieldset input {
	margin-top: -4px;
	padding: 0;
	position: relative;
	top: 1px;
	
}*/

#main_nav fieldset #quick_search_parameter {
	margin-top: -4px;
	padding: 0;
	position: relative;
	top: 1px;
}

#main_nav fieldset #submit_search {
	height: 15px;
	position: relative;
	top: 2px;
	left: 4px;
}

#content_container {
	width: 100%;
	min-height: 342px;
	clear: both;
}

#login_view {
	width: 100%;
	height: auto;
}

#login_view fieldset {
	margin: 0 auto 0;
	width: 400px;
}

#content_container {
	font-family: arial;
	font-size: 14px;
	padding: 5px;
}

#content_container section 
{
    width: 756px;
}

.er {
	width: 95%;
	height: 40px;
	border: 4px solid #32A6FF;
	background: #e2e2e2;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
}

#search_result {
	width:95%;
	height: auto;
	border: 1px solid #888;
}

#search_result table {
	width: 100%;
}

#search_result table th {
	text-align: left;
	margin: 0;
	padding: 0;
}

#item_header {
	background: #A5A5A5;
	width: 100%;
}

.item {
	border-bottom: 1px solid #888;
	margin-top: 3px;
	margin-bottom: 3px;
	cursor: pointer;
	padding-top: 3px;
	margin-bottom: 3px;
}

.item:hover{
	background: #32A6FF;
}



#file_issue {
	width: 95%;
	height: auto;
}

#file_issue ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#file_issue ul li {
	margin-top: 3px;
}

#file_issue ul li label {
	position: absolute;
}

#file_issue ul li input, #file_issue ul li select, #file_issue ul li textarea {
	position: relative;
	left: 95px;
}

#file_issue ul li textarea {
	width: 400px;
	height: 225px;
	font-family: arial, verdana;
	font-size: 12px;
}

#file_issue ul li #title {
	width: 400px;
}

.showIssue input, .showIssue textarea, .showIssue select {
	background: #ccc;
}

.list-issues-table 
{
    width: 756px;
}

.list-issues-table tr td 
{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.list-issues-table tr td a 
{
    color: #000;
}

.table-row-even 
{
    background: #ccc;
}

.table-row-odd
{
    background: #eaeaea;
}

.table-row-odd:hover, .table-row-even:hover
{
    background: #FF5309 url(media/graphics/issue-list-td-bg.jpg) repeat-x;
    cursor: pointer;
}

.list-issue-header 
{
    cursor: default;
}

.display-label 
{
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.activity-container 
{
    clear: both;
    padding-top: 5px;
    border: 1px dotted #ccc;
    padding-bottom: 5px;
    
}

.display-activity 
{
    border-bottom: 1px solid #000;
    min-height: 70px;
    display: block;
    margin-top: 5px;
}

.display-activity p
{
    margin: 4px;
    padding: 0;
    
}

#new_activity 
{
    width: 500px;
    height: 225px;
}

.sub-link-content a:link, .sub-link-content a:visited 
{
    color: #FF5309;
}

.sub-link-content a:hover 
{
    color: #000;
}

.time-content-issue-detail 
{
    margin-top: 10px;
}

#content_container section #Title, #content_container section #CategoryID, #content_container section #PriorityID
{
    width: 300px;
}

#Description 
{
    width: 500px;
    height: 225px;
}

#content_container section a:link, #content_container section a:visited 
{
    color: #FF5309;
}

#content_container section a:hover 
{
    color: #000;
}