<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="Customer" />
            <deny roles="Customer" />
            <deny roles="Employee" />
            <deny roles="Employee" />
        </authorization>
    </system.web>
</configuration>